<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OFR</title>
    <link href="~/css_mobile/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/toastr.css" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="~/css_mobile/style.css" rel="stylesheet" type="text/css" />
    <!-- JS -->
    <script src="~/js/jquery.min.js"></script>
    @*-------Scripts-----------------*@

    @System.Web.Optimization.Scripts.Render("~/bundles_Mobile/js")
    <script>
        $(function () {
            $('ul.nav.navbar-nav').find('a[href="' + location.pathname + '"]')
                .closest('li').addClass('active');
        });
    </script>
</head>
<body>
    <!--top header-->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="#"><img src="/images/ofr-logo_blk.png" alt="" class="logo"></a>*@
                <a class="navbar-brand" href="/Property/MappedHotels"><img src="~/images/logoNew.png" alt="" class="logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                   @if (Session["PropId"] != null)
                   {
                    <li><a href="/Property/MappedHotels">Pending Bargain</a></li>
                        <!--    <li class="dropdown">
                             <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                           </li> -->
                        <li><a href="/InventoryPlan">Inventory </a></li>
                        <li><a href="/RoomRatePlan">Rate Plan</a></li>
                        <li><a href="/RoomRatePrices">BAR Changes</a></li>
                   }
                    <li>@Html.ActionLink("Logout", "LogOut", "Account")</li>
                </ul>

            </div>
        </div>

    </nav>

    @RenderBody()
    <div id="Progress" class="overlay" style="display:none">
        <div class=" loader" style="top:50%; position:fixed;left:50%; z-index:20;"></div>
    </div>
</body>
</html>
