@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row text-center">
    <div class="error_404">
        <h1 style="padding-top:30px;">Oops!</h1>
        <p style="font-size:24px; font-family:'Open Sans'; color:#808080; margin-left: 33.5%; color:#f26222">Looks like you are trespassing, You do not have proper permissions to view this page!</p>

        <img src="~/images/page-not-found.jpg" />
    </div>
</div>
