tbody.TimeSheetBid {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: #cccccc 1px solid;
    color: #757a7d;
    font-size: 12px;
    cursor: default;
    /*border-collapse: separate !important;*/
}

.TimeSheetBid td {
    border: #e3e3e3 1px solid;
}

.TimeSheetBid-cell-selected {
    background-color: #b4def9;
}

.TimeSheetBid-cell-selecting {
    background-color: #dae0ef !important;
}

.TimeSheetBid-rowHead, .TimeSheetBid-colHead {
    background-color: #f5f5f5;
}

.TimeSheetBid-rowHead {
    padding: 3px 10px;
    border-left: none !important;
}

.TimeSheetBid-colHead {
    padding: 6px 3px 6px 3px;
    border-top: none !important;
}

.TimeSheetBid-head {
    text-align: center;
    border-top: none !important;
    border-left: none !important;
}

.TimeSheetBid .rightMost {
    border-right: none !important;
}

.TimeSheetBid .bottomMost {
    border-bottom: none !important;
}

.TimeSheetBid-remarkHead {
    text-align: center;
    border-top: none !important;
    border-right: none !important;
}

.TimeSheetBid-remark {
    padding: 0 5px;
    border-right: none !important;
}

.TimeSheetBid-remarkHead, .TimeSheetBid-remark {
    max-width: 120px;
    background-color: #fbf0ed;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left-color: #cccccc !important;
}

.TimeSheetBid-cell {
    font-size: 12px;
}

.TimeSheetBid > tbody > tr:first-child > .TimeSheetBid-cell {
    font-size: 13px;
}

th {
    width: 50px;
}

.redbdr {
    border-left: #ff0000 2px solid !important;
    border-right: #ff0000 2px solid !important;
}

.redbdrtop {
    border-top: #ff0000 2px solid !important;
}

.redbdrbtm {
    border-bottom: #ff0000 2px solid !important;
}

table {
    border-collapse: separate !important;
}
